@use "sass:math";

window {
    background: transparent;
}

separator {
    border-top: 2px solid $sky;

    &.vertical {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 4px;
        margin-right: 4px;
    }

    &.horizontal {
        margin-left: 8px;
        margin-right: 8px;
    }
}

$slider-size: 16px;

scale {
    trough {
        background-color: $surface-0;
        border-radius: 16px;
    }
}

levelbar,
scale {
    border-radius: 16px;

    &.vertical {
        trough {
            min-height: 64px;
        }

        highlight {
            min-width: $slider-size;
        }
    }

    &.horizontal {
        trough {
            min-width: 64px;
        }

        highlight {
            min-height: $slider-size;
        }
    }

    .filled,
    highlight {
        min-width: $slider-size;
        border-radius: $slider-size;
        background-color: $sky;
    }

    .empty {
        border-radius: 16px;
        background-color: $surface-0;
    }
}

image.symbolic {
    transition: all 0.2s;
    color: $text;
}
.icon-container.hoverable:hover image.symbolic {
    color: $sky;
}