.quick-settings-container {
    margin: 8px;
    background-color: $base;
    padding: 8px;
    border-radius: $corner-radius;

    scale.horizontal trough {
        min-width: 120px;
    }

    .slider-row {
        image {
            margin-right: 4px;
        }
    }
}

.large-button {
    padding: 8px;
    background-color: $sky;
    border-radius: $ui-radius;
    color: $base;

    transition: all 0.2s;

    &:hover {
        background-color: $text;
    }
}