/* Nord Colors */

/* Polar Night */
$nord-0: #2e3440;
$nord-1: #3b4252;
$nord-2: #434c5e;
$nord-3: #4c566a;
/* Snow Storm */
$nord-4: #d8dee9;
$nord-5: #e5e9f0;
$nord-6: #eceff4;
/* Frost */
$nord-7: #8fbcbb;
$nord-8: #88c0d0;
$nord-9: #81a1c1;
$nord-10: #5e81ac;
/* Aurora */
$nord-11: #bf616a;
$nord-12: #d08770;
$nord-13: #ebcb8b;
$nord-14: #a3be8c;
$nord-15: #b48ead;

/* Rebindings for clarity */
$background-primary: $nord-0;
$background-secondary: $nord-1;
$background-tertiary: $nord-2;
$background-quaternary: $nord-3;

$foreground-primary: $nord-6;
$foreground-secondary: $nord-5;
$foreground-tertiary: $nord-4;

$frost-0: $nord-7;
$frost-1: $nord-8;
$frost-2: $nord-9;
$frost-3: $nord-10;

$aurora-0: $nord-11;
$aurora-1: $nord-12;
$aurora-2: $nord-13;
$aurora-3: $nord-14;
$aurora-4: $nord-15;


* {
    all: unset;
    color: $foreground-primary;
}

window {
    background: transparent;
}

.sidebar-container {
    background-color: $background-primary;
    min-width: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.workspace {
    border-radius: 8px;
    background-color: $foreground-primary;
    padding: 8px;
    margin-bottom: 6px;

    &.active, &:last-child.active {
        background-color: $aurora-1;
        min-height: 12px;
    }

    &:last-child {
        background-color: $background-tertiary;
        margin-bottom: 0;
    }
}

.window.focused {
    background-color: $background-tertiary;
    border: solid $aurora-1 4px;
}

.clock {
    background-color: $background-tertiary;
    color: $foreground-primary;
}