// Catppuccin Machiatto Colors
$rosewater: #f4dbd6;
$flamingo: #f0c6c6;
$pink: #f5bde6;
$mauve: #c6a0f6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #eed49f;
$green: #a6da95;
$teal: #8bd5ca;
$sky: #91d7e3;
$sapphire: #7dc4e4;
$blue: #8aadf4;
$lavender: #b7bdf8;

$text: #cad3f5;
$subtext-1: #b8c0e0;
$subtext-0: #a5adcb;

$overlay-2: #939ab7;
$overlay-1: #8087a2;
$overlay-0: #6e738d;

$surface-2: #5b6078;
$surface-1: #494d64;
$surface-0: #363a4f;

$base: #24273a;
$mantle: #1e2030;
$crust: #181926;

* {
    all: unset;
}

window {
    background: transparent;
}

separator {
    border-top: 2px solid $sky;
    &.vertical {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 4px;
        margin-right: 4px;
    }
    &.horizontal {
        margin-left: 8px;
        margin-right: 8px;
    }
}

$sidebar-width: 32px;

.sidebar-container {
    background-color: $base;
    min-width: $sidebar-width;
    padding-top: 16px;
    padding-bottom: 16px;
}

.workspace {
    border-radius: 8px;
    background-color: $text;
    padding: 8px;
    margin-bottom: 6px;

    &.active, &:last-child.active {
        background-color: $peach;
        min-height: 12px;
    }

    &:last-child {
        background-color: $surface-0;
        margin-bottom: 0;
    }
}

.window {
    margin-bottom: 4px;
    padding: 4px;
    border-radius: 8px;

    &.active {
        background-color: $sky;
    }
    &.focused {
        background-color: $peach;
    }
}

.clock {
    margin-right: 50px;
    margin-bottom: 50px;
    color: $text;

    .time {
        font-size: 7rem;
        font-family: "Anonymous Pro", monospace;
    }

    .date {
        font-size: 1.7rem;
        font-family: "Anonymous Pro", monospace;
    }
}

.screen-bevels {
    .shadow {
        box-shadow: inset 0 0 8px $base;
    }

    box.bevels {
        border-radius: 16px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0 0 0 $sidebar-width $base;
    }
}